<section class="new-unit">
  <h2>Cadastro de Unidade Geradora</h2>
  <form>
    <input type="text" name="alias" id="alias" />
    <label for="located">Local</label>
    <input type="text" name="located" id="located" />
    <label for="brand">Marca</label>
    <input type="text" name="brand" id="brand" />
    <label for="model">Modelo</label>
    <input type="number" name="model" id="model" />
    <input type="checkbox" name="active" id="active">
    <label for="active">Ativo</label>
    <button>Salvar</button>
  </form>
</section>
