<h1>Lançamento de geração mensal</h1>
<section>
  <form (ngSubmit)="onSubmit(registerEnergy)" #registerEnergy="ngForm">
    <label for="unit" class="lbl">Unidade geradora:</label>
    <select
      name="unit"
      id="unit"
      class="ipt"
      [(ngModel)]="+model.unit"
      required
    >
      <option *ngFor="let option of activeList" [ngValue]="option.id">
        {{ option.alias }}
      </option>
    </select>
    <label for="date" class="lbl">Mês/Ano</label>
    <input
      type="month"
      name="date"
      id="date"
      class="ipt"
      [(ngModel)]="model.date"
      required
    />
    <label for="totalKw" class="lbl">Total kw gerado</label>
    <input
      type="number"
      name="totalKw"
      id="totalKw"
      class="ipt"
      min="1"
      [(ngModel)]="model.totalKw"
      required
    />
    <button type="submit" class="btn" [disabled]="!registerEnergy.form.valid">
      Cadastrar
    </button>
  </form>
</section>
