@import "/src/styles.scss";

main {
  @include displayFlex(row, normal, normal, normal);

  min-width: 100vw;

  font-family: "Poppins", sans-serif;

  background-color: #fafafa;

  .content {
    @include displayFlex(column, normal, normal, normal);

    flex: 1;

    h1 {
      background-color: #fff;
      margin: 0;
      padding: 33px 0 33px 40px;
    }
  }
}
