<section class="list-units">
  <div *ngIf="unitList.length; else empty">
    <h2>Lista de Unidades</h2>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Apelido</th>
          <th>Local</th>
          <th>Marca</th>
          <th>Modelo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let unit of unitList" [ngClass]="{ 'disabled': !unit.active }">
          <td>{{ unit.id }}</td>
          <td>{{ unit.alias }}</td>
          <td>{{ unit.located }}</td>
          <td>{{ unit.brand }}</td>
          <td>{{ unit.model }}</td>
          <th>
            <button>Editar</button>
          </th>
          <th>
            <button>Remover</button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #empty>
    <h2>Lista vazia.</h2>
  </ng-template>
  <button routerLink="/admin/units/new">Nova unidade</button>
</section>
