@import "/src/styles.scss";

form {
  @include displayFlex(column, center, normal, stretch);

  width: 518px;

  font-size: 16px;

  input {
    font-size: 16px;

    border-radius: 10px;

    width: 464px;

    padding: 1.2rem 10px 1.2rem 44px;
    margin-bottom: 20px;
  }

  button {
    color: #fff;
    background-color: $button-color;

    border-radius: 10px;
    border: none;
    outline: none;

    padding: 1.2rem 0;
    margin-top: 9px;

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }

  .input-container {
    position: relative;
    width: 100%;

    mat-icon {
      color: #A098AE;
      position: absolute;
      top: 15px;
      left: 15px;
    }
  }
}
