<form (ngSubmit)="onSubmit(login)" #login="ngForm">
  <div class="input-container">
    <mat-icon>mail_outline</mat-icon>
    <input
      type="email"
      class="ipt"
      name="email"
      id="email"
      pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
      placeholder="Email"
      [(ngModel)]="email"
      [ngClass]="{warn: (emailInput.dirty && (emailInput.errors?.['required'] || emailInput.errors?.['pattern'])) || failedLogin}"
      #emailInput="ngModel"
      required
    />
    <section
      class="warn-icon"
      *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
    >
      <mat-icon
        *ngIf="emailInput.errors?.['required'] || emailInput.errors?.['pattern']"
        >error_outline</mat-icon
      >
    </section>
    <section
      class="warn-text"
      *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
    >
      <p *ngIf="emailInput.errors?.['required']">Email é requirido!</p>
      <p *ngIf="emailInput.errors?.['pattern']">Email inválido!</p>
    </section>
  </div>
  <div class="input-container">
    <mat-icon>lock_outline</mat-icon>
    <input
      type="password"
      class="ipt"
      name="password"
      id="password"
      placeholder="Senha"
      [(ngModel)]="password"
      [ngClass]="{ warn: failedLogin }"
      required
    />
    <section *ngIf="failedLogin" class="warn-text">
      Email ou senha não encontrados.
    </section>
  </div>
  <button type="submit" [disabled]="!login.form.valid">Login</button>
</form>
