@import "/src/styles.scss";

form {
  @include displayFlex(column, center, normal, stretch);

  width: 518px;

  font-size: 16px;

  input {
    font-size: 16px;
    border-radius: 10px;
    width: 464px;
    padding: 1.2rem 10px 1.2rem 44px;
  }

  button {
    color: #fff;
    background-color: $button-color;

    border-radius: 10px;
    border: none;
    outline: none;

    padding: 1.2rem 0;
    margin-top: 9px;

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }

  .input-container {
    position: relative;
    width: 100%;

    margin-bottom: 20px;

    mat-icon {
      color: #A098AE;
      position: absolute;
      top: 15px;
      left: 15px;
    }

    .warn-text {
      margin-top: 5px;
      color: #FF0000;
    }

    .warn {
      border: 1px solid #FF0000;
    }

    .warn-icon {
      mat-icon {
        left: 464px;
        color: #FF0000;
      }
    }
  }
}
