<form #login="ngForm">
  <div class="input-container">
    <mat-icon>mail_outline</mat-icon>
    <input
      type="email"
      name="email"
      id="email"
      pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
      placeholder="Email"
      [(ngModel)]="email"
      required
    />
  </div>
  <div class="input-container">
    <mat-icon>lock_outline</mat-icon>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Senha"
      [(ngModel)]="password"
      required
    />
  </div>
  <button type="submit" [disabled]="!login.form.valid" routerLink="dashboard">
    Login
  </button>
</form>
