@import "/src/styles.scss";

form {
  @include displayFlex(column, center, normal, stretch);

  width: 518px;

  input {
    border: 1px solid;
    border-radius: 10px;

    outline: none;

    padding: 1.2rem 0;
    margin-bottom: 20px;
  }

  button {
    color: #fff;
    background-color: #4cbc9a;

    border-radius: 10px;
    border: none;
    outline: none;

    padding: 1.2rem 0;
    margin-top: 9px;

    &:disabled {
      color: #cecece;
      background-color: #8cc8b6;

      cursor: not-allowed;
    }
  }
}
