<form #login="ngForm">
  <div class="input-container">
    <mat-icon>mail_outline</mat-icon>
    <input
      type="email"
      class="ipt"
      name="email"
      id="email"
      pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
      placeholder="Email"
      [(ngModel)]="email"
      required
    />
  </div>
  <div class="input-container">
    <mat-icon>lock_outline</mat-icon>
    <input
      type="password"
      class="ipt"
      name="password"
      id="password"
      placeholder="Senha"
      [(ngModel)]="password"
      required
    />
  </div>
  <div *ngIf="failedLogin" id="warn">Email ou senha não encontrados.</div>
  <button [disabled]="!login.form.valid" (click)="validate()">Login</button>
</form>
