<nav>
  <img src="assets/solarEnergyLogo.png" alt="Solar Energy logo" />
  <button type="button" routerLink="/admin/dashboard" routerLinkActive="active">
    <mat-icon aria-hidden="false" aria-label="pie chart icon">pie_chart</mat-icon>
    <p>Dashboard</p>
  </button>
  <button type="button" routerLink="/admin/units" routerLinkActive="active">
    <mat-icon aria-hidden="false" aria-label="monitor heart icon">monitor_heart</mat-icon>
    <p>Unidades</p>
  </button>
  <button type="button" routerLink="/admin/energy" routerLinkActive="active">
    <mat-icon aria-hidden="false" aria-label="settings icon">settings</mat-icon>
    <p>Cadastro de energia gerada</p>
  </button>
</nav>
