@import "/src/styles.scss";

nav {
  @include displayFlex(column, normal, normal, center);

  height: 100vh;
  max-width: 345px;

  padding: 0 46px;

  background-color: #FFF;

  img {
    margin-top: 19px;

    height: 159px;
    width: 159px;
  }

  button {
    @include displayFlex(row, normal, normal, center);

    font-size: 18px;

    outline: none;
    border: none;
    border-radius: 20px;

    background-color: rgba($color: #000000, $alpha: 0);
    color: #A098AE;

    width: 252px;

    margin-bottom: 5px;
    padding: 19px 0 19px 0;

    &.active {
      background-color: $button-color;
      color: #fff;
    }

    &:hover {
      cursor: pointer;
    }

    mat-icon {
      padding: 0 24px;
    }

    p {
      margin: 0;
      text-align: start;
    }
  }
}
