@import '/src/styles.scss';

section.card {
  @include displayFlex(column, normal, normal, center);

  background-color: #FFF;

  border: 1px solid #DFE0EB;
  border-radius: 8px;

  width: 258px;

  margin: 0 15px;

  h3 {
    font-size: 19px;

    margin-bottom: 12px;

    color: #9FA2B4;
  }

  p {
    font-weight: 700;
    font-size: 40px;

    margin: 0 0 24px 0;
  }

  &:hover {
    border: 1px solid #3751FF;
    color: #3751FF;
    cursor: pointer;

    h3 {
      color: #3751FF;
    }
  }
}
