@import "/src/styles.scss";

h1 {
  background-color: #fff;
  margin: 0;
  padding: 33px 0 33px 40px;
  font-weight: 700;
}

.container {
  @include displayFlex(column, normal, normal, center);

  height: 100%;

  .row {
    @include displayFlex(row, normal, center, normal);

    width: 100%;
    margin-top: 60px;
  }
}
