@import "/src/styles.scss";

#container {
  @include displayFlex(row, normal, normal, normal);

  height: 100%;

  #cover {
    @media screen and (max-width: 1920px) {
      width: 979px;
      img {
        object-position: -399px;
      }
    }

    @media screen and (max-width: 2560px) and (min-width: 1921px) {
      width: 1299px;
    }

    overflow: hidden;
    img {
      object-fit: cover;
      height: 100%;
    }
  }

  #login {
    @include displayFlex(column, center, normal, center);
    flex: 1;

    padding: 132px;

    img {
      height: 309px;
      width: 309px;
    }

    h2 {
      margin-bottom: 37px;
      font-family: "Roboto Slab", serif;
    }
  }
}
