<nav>
  <img src="assets/solarEnergyLogo.png" alt="Solar Energy logo" />
  <button type="button" routerLink="/dashboard" routerLinkActive="active">
    <mat-icon aria-hidden="false" aria-label="pie chart icon">pie_chart</mat-icon>
    Dashboard
  </button>
  <button type="button" routerLink="/units" routerLinkActive="active">
    <mat-icon></mat-icon>
    Unidades
  </button>
  <button type="button" routerLink="/energy" routerLinkActive="active">
    <mat-icon aria-hidden="false" aria-label="settings icon">settings</mat-icon>
    Cadastro de energia gerada
  </button>
</nav>
