/* You can add global styles to this file, and also import other style files */
$button-color: #4cbc9a;
$disabled-input-color: #8cc8b6;
$secondary-button-color: #4C5DF1;

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

@mixin displayFlex($direction, $alignContent, $justify, $alignItems) {
  display: flex;
  flex-direction: $direction;
  align-content: $alignContent;
  justify-content: $justify;
  align-items: $alignItems;
}

@font-face {
  font-family: 'Poppins';
  src: url(./assets/fonts/Poppins-Regular.ttf);
}
